@import "tailwindcss";

@keyframes panGrid {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 30px 30px; 
  }
}

.animate-grid-bg {
  animation: panGrid 4s linear infinite;
}